@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

.page-base {
    position: absolute;
    text-transform: uppercase;
    font-weight: 900;
    font-variant-numeric: slashed-zero tabular-nums;
    line-height: 1em;
    color: indianred;
    font-size: 2em;
    pointer-events: all;
    cursor: pointer;
    z-index: 999;
}

.pre{
    bottom: 40px;
    right: 190px;
    transform: skew(-5deg, -5deg);
}

.next{
    bottom: 40px;
    right: 20px;
    transform: skew(5deg, 5deg);

}



.ticker {
    position: absolute;
    max-height: 4rem;
    max-width: 4rem;
    width: 3.5vw;
    height: 3.5vw;
    bottom: 2rem;
    left: 2rem;
}

.ticker > * {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.ticker > div {
    opacity: 0.2;
    border: solid 3px black;
}

.ticker > svg {
    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
}
